@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400|Playfair+Display:400,700&display=swap');

body {
  font-family: 'IBM Plex Sans', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.65;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times,
    serif;
  font-size: 2em;
  font-weight: bolder;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
