@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400|Playfair+Display:400,700&display=swap');

@font-face {
  font-family: 'Orbiter';
  font-weight: bold;
  src: url('/earthorbiterbold.ttf') format('truetype');
  font-display: swap;
}
body {
  font-family: 'IBM Plex Sans', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.65;
  background: #4a304b;
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

h1.logo {
  font-family: 'Orbiter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times,
    serif;
  font-weight: bolder;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 1150px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

/* .list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
} */
